<!DOCTYPE html>
<html lang="en">

<body>
    <div class="d-flex justify-content-center" id="contenedor">
        <div  class="child">
            <h1 class="text-center" id="titulo">FORMULARIO</h1>
            <form action="/productos" method="POST" onsubmit="return enviarProducto()">
                <label for="formGroupExampleInput" class="form-label"><strong>Title:</strong></label>
                <input type="text" name="title"class="form-control" placeholder="Ingrese nombre del producto"id="title" required><br><br>

                <label for="formGroupExampleInput" class="form-label"><strong>Price:</strong></label>
                <input type="number" name="price"class="form-control" placeholder="Ingrese el precio" id="price"required><br><br>

                <label for="formGroupExampleInput" class="form-label"><strong>Thumbnail:</strong></label>
                <input type="url" name="thumbnail" class="form-control"placeholder="Ingrese la URL" id="thumbnail"/>
                <p>Ej: https://cdn1.iconfinder.com/data/icons/space-flat-galaxy-radio/512/planets-64.png</p><br>
                
                <div class="d-flex  justify-content-around" >
                    <button class="btn btn-outline-primary btn-sm" type="submit">AGREGAR PRODUCTO</button> 
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center"  id="contenedor">
        <div>
            <h1>PRODUCTOS</h1><br>
            
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Thumbnail</th>
                    </tr>
                </thead>
                <tbody id="contenedorProductos">
                    {{#each data}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.title}}</td>
                            <td>${{this.price}}</td>
                            <td><img style="width: 50px; height:50px" src={{this.thumbnail}} alt=""></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div>
        <h1>CHATS</h1><br>
        <input type="text" id="email"placeholder="usuario@coderhouse.com">
        <hr>
        <div id="chat"></div>    
        <input type="text" id="mensaje"placeholder="Escriba su mensaje">
        <button id="enviar">ENVIAR</button>
    </div>
</body>

</html>