<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla con HandleBars</title>
</head>
<body>
    <!-- Importo el CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
        // compile the template

    
        var template = Handlebars.compile(`
            <h1>Hola soy un template HandleBars.</h1>
            <h6>Me han pasado por parámetro {{nombre}}</h6>
            {{{this.productos}}}
        `);
        // execute the compiled template and print the output to the console
        console.log(template({ nombre: "Andres!" }));
    
        const html = template({nombre: "Andres"})
        document.querySelector("body").innerHTML = html;
      </script>


</body>
</html>