
    <div >
        <h2 id="alerta" >No hay productos</h2>
    </div>
    <div id="showProducts">
        <a href="/">Volver a la pagina de inicio</a>
        <br>
        <table style="margin-top: 10px;" id="tabla">
            <tr>
                <th style="padding: 5px; border: 3px solid #dddddd; background-color: #61b4e1a3">Nombre</th>
                <th style="padding: 5px; border: 3px solid #dddddd; background-color: #61b4e1a3">Precio</th>
                <th style="padding: 5px; border: 3px solid #dddddd; background-color: #61b4e1a3">Stock</th>
            </tr>
        </table>
    </div>

<script>
    var productos2 = {{{productos}}}
    console.log(productos2.productos.length)

    document.getElementById("alerta").style.display = 'none';

    if(productos2.productos.length < 1)
        {
            document.getElementById("alerta").style.display = 'block';
            document.getElementById("showProducts").style.display = 'none';
        }
    else{
            document.getElementById("alerta").style.display = 'none';
            document.getElementById("showProducts").style.display = 'block';
            
            productos2.productos.forEach(element => {
                let td = document.createElement("tr");
                let t1 = document.createElement("td");
                t1.innerText = element.name;
                let t2 = document.createElement("td");
                t2.innerText = element.price;
                let t3 = document.createElement("td");
                let imagen = document.createElement("img");
                imagen.src = element.image;
                t3.innerHTML = imagen.outerHTML;

                t1.style.border = "1px solid"
                t2.style.border = "1px solid"
                t3.style.border = "1px solid"

                td.append(t1);
                td.append(t2);
                td.append(t3);

                document.getElementById("tabla").append(td);
            }
            )
    }
</script>


