#contenedor{
    margin-bottom: 1em;
}
#titulo{
    margin-bottom: 1em;
}
table{
    margin-bottom: 2em;
}
.child{
    width:500px;
    background-color: rgb(222, 227, 233);
    padding: 1em;
}
#estilo{
    color: blue;
}

#fecha{
    color: brown;
}
#message{
    font-style: italic;
    color: green;
}
body{
    margin:5em
}